@model Resturant_webProject.Models.Staff
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!doctype html>
                    <html lang="en">
                    <head>
                        <!-- Required meta tags -->
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

                        <link rel="stylesheet" href="~/assests/login/fonts/icomoon/style.css">

                        <link rel="stylesheet" href="~/assests/login/css/owl.carousel.min.css">

                        <!-- Bootstrap CSS -->
                        <link rel="stylesheet" href="~/assests/login/css/bootstrap.min.css">

                        <!-- Style -->
                        <link rel="stylesheet" href="~/assests/login/css/style.css">

                    </head>
                    <body>


                        <div class="d-lg-flex half">
                            <div class="bg order-1 order-md-2" style="background-image: url('../../assests/images/DailyPlanet_3x2.jpg');"></div>
                            <div class="contents order-2 order-md-1">

                                <div class="container" style="background-color: #9E754A ">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-md-7" style="color:white">
                                            <h3>Login to <strong>Our Restaurant</strong></h3>

                                            <form action="#" method="post">
                                                <div class="form-group first">
                                                    <label for="username">Email</label>
                                                  
                                                    @Html.EditorFor(model => model.C_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email",@id="username" } })
                                                    @Html.ValidationMessageFor(model => model.C_Email, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group last mb-3">
                                                    <label for="password">Password</label>
                                                    @Html.EditorFor(model => model.C_Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "password", @id = "password",@type="password" } })
                                                    @Html.ValidationMessageFor(model => model.C_Password, "", new { @class = "text-danger" })
                                                </div>
                                                <input type="submit" value="Log In" style="background-color: #150707" class="btn btn-block btn-primary">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                        <script src="~/assests/login/js/jquery-3.3.1.min.js"></script>
                        <script src="~/assests/login/js/popper.min.js"></script>
                        <script src="~/assests/login/js/bootstrap.min.js"></script>
                        <script src="~/assests/login/js/main.js"></script>
                    </body>
                </html>




                @*<div class="form-group">
                        @Html.LabelFor(model => model.C_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.C_Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.C_Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.C_Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.C_Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.C_Password, "", new { @class = "text-danger" })
                        </div>
                    </div>*@



            }

